<plugin>
   <extension-point id="configuration" name="%JobUiConfigurationExtensionPoint.name" schema="schema/configuration.exsd"/>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
         
         <connectorCore
            class="com.perforce.team.core.mylyn.P4JobConnector"
            id="perforce"
            name="%connectorCore.name"/>
      <connectorUi
            brandingIcon="icons/p4.png"
            class="com.perforce.team.ui.mylyn.P4JobConnectorUi"
            id="perforce"
            name="%connectorUi.name"
            overlayIcon="icons/p4_overlay.png"/>
      <repositoryMigrator
            class="com.perforce.team.ui.mylyn.P4JobMigrator">
      </repositoryMigrator>
   </extension>
	 <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.perforce.team.ui.mylyn.editor.P4JobEditorPageFactory"
            id="com.perforce.team.ui.mylyn.editors.corePageFactory" />
      <pageFactory
            class="com.perforce.team.ui.mylyn.editor.P4AdvancedEditorPageFactory"
            id="com.perforce.team.ui.mylyn.editors.advancedPageFactory" />
      <pageFactory
            class="com.perforce.team.ui.mylyn.editor.ChangelistEditorPageFactory"
            id="com.perforce.team.ui.mylyn.editors.changelistPageFactory" />
   </extension>
   <extension
         point="org.eclipse.mylyn.team.ui.changeSets">
      <activeChangeSetProvider 
      	class="com.perforce.team.ui.mylyn.changeset.P4ActiveChangeSetProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.perforce.team.ui.mylyn.corePreferences"
            class="com.perforce.team.ui.mylyn.preferences.JobLayoutPreferencePage"
            id="com.perforce.team.ui.mylyn.jobsPreferences"
            name="%JobLayoutPreferencePage.name">
      </page>
      <page
            category="com.perforce.team.ui.dialogs.GeneralPreferencesDialog"
            class="com.perforce.team.ui.mylyn.preferences.MylynPreferencePage"
            id="com.perforce.team.ui.mylyn.corePreferences"
            name="%MylynPreferencePage.name">
      </page>
      <page
            category="com.perforce.team.ui.mylyn.corePreferences"
            class="com.perforce.team.ui.mylyn.preferences.ConnectionMappingPreferencePage"
            id="com.perforce.team.ui.mylyn.mappingPreferences"
            name="%ConnectionMappingPreferencePage.name">
      </page>
   </extension>
   <extension
   		point="org.eclipse.mylyn.tasks.ui.projectLinkProviders">
	    <linkProvider
	          class="com.perforce.team.ui.mylyn.P4TaskRepositoryLinkProvider"
	          id="com.perforce.team.ui.mylyn.linkProvider"
	          name="%P4TaskRepositoryLinkProvider.name"
	          order="101">
	    </linkProvider>
	</extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.perforce.team.core.p4java.IP4SubmittedChangelist"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.tasks.core.TaskRepository">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.ui.history.P4HistoryPage"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.tasks.core.TaskRepository">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.core.p4java.IP4ShelvedChangelist"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.tasks.core.TaskRepository">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.core.p4java.IP4Revision"
            class="com.perforce.team.ui.mylyn.history.P4RevisionAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.team.ui.AbstractTaskReference">
         </adapter>
         <adapter
               type="org.eclipse.mylyn.tasks.core.TaskRepository">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.core.p4java.synchronize.IP4ChangeSet"
            class="com.perforce.team.ui.mylyn.changeset.P4ChangeSetAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.team.ui.AbstractTaskReference">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.mylyn.tasks.ui.editors.TaskEditorInput"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="com.perforce.team.core.p4java.IP4Connection">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.mylyn.internal.tasks.core.TaskTask"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="org.eclipse.team.ui.history.IHistoryPageSource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.ui.mylyn.P4TaskEditorInput"
            class="com.perforce.team.ui.mylyn.P4MylynAdapterFactory">
         <adapter
               type="org.eclipse.team.ui.history.IHistoryPageSource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.mylyn.tasks.core.IRepositoryQuery"
            class="com.perforce.team.ui.mylyn.job.JobAdapterFactory">
         <adapter
               type="com.perforce.team.ui.mylyn.job.JobProxyContainer">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.mylyn.tasks.core.ITask"
            class="com.perforce.team.ui.mylyn.job.JobAdapterFactory">
         <adapter
               type="com.perforce.team.ui.mylyn.job.IJobProxy">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.core.p4java.IP4Job"
            class="com.perforce.team.ui.mylyn.job.JobAdapterFactory">
         <adapter
               type="com.perforce.team.ui.mylyn.job.IJobProxy">
         </adapter>
      </factory>
      <factory
            adaptableType="com.perforce.team.core.p4java.IP4Connection"
            class="com.perforce.team.ui.mylyn.job.JobAdapterFactory">
         <adapter
               type="com.perforce.team.ui.mylyn.job.JobProxyContainer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.perforce.team.ui.mylyn.connectionContribution"
            objectClass="com.perforce.team.core.p4java.IP4Connection">
         <action
               class="com.perforce.team.ui.mylyn.connection.LinkRepositoryAction"
               enablesFor="1"
               icon="icons/repository.png"
               id="com.perforce.team.ui.mylyn.linkRepository"
               label="%LinkRepositoryAction.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.perforce.team.ui.mylyn.jobContribution"
            objectClass="com.perforce.team.core.p4java.IP4Job">
         <action
               class="com.perforce.team.ui.mylyn.job.EditJobTaskAction"
               id="com.perforce.team.ui.mylyn.editjob"
               label="%EditJobTaskAction.label"
               overrideActionId="com.perforce.team.ui.editjob">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.perforce.team.ui.mylyn.proxyContainerContribution"
            objectClass="com.perforce.team.ui.mylyn.job.JobProxyContainer">
         <action
               class="com.perforce.team.ui.mylyn.job.BulkChangeAction"
               id="com.perforce.team.ui.mylyn.jobs.proxyContainerBulkEdit"
               label="%BulkChangeAction.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.perforce.team.ui.mylyn.proxyContribution"
            objectClass="com.perforce.team.ui.mylyn.job.IJobProxy">
         <action
               class="com.perforce.team.ui.mylyn.job.BulkChangeAction"
               id="com.perforce.team.ui.mylyn.proxyBulkEdit"
               label="%BulkChangeAction.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="com.perforce.team.core.workspace">
      <connectionListener
            class="com.perforce.team.ui.mylyn.connection.ConnectionSettingsListener">
      </connectionListener>
   </extension>
   <extension
         point="com.perforce.team.ui.action">
      <doubleClick
            baseClass="com.perforce.team.ui.p4java.actions.EditJobAction"
            overrideClass="com.perforce.team.ui.mylyn.job.EditJobTaskAction">
      </doubleClick>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.perforce.team.ui.mylyn.job.BulkJobEditor"
            default="false"
            icon="icons/job.png"
            id="com.perforce.team.ui.mylyn.job.BulkJobEditor"
            name="%BulkJobEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.perforce.team.ui.mylyn.preferences.MylynPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
