<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
     
       <objectContribution
             adaptable="false"
             id="com.perforce.team.ui.folder.branchContributions"
             objectClass="com.perforce.team.core.p4java.IP4Branch">
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffBranchAction"
                icon="icons/folder_diff.png"
                id="com.perforce.team.ui.folder.branchDiff"
                label="%BranchDiff"
                menubarPath="perforce.group3">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="com.perforce.team.ui.folder.containerContributions"
             objectClass="org.eclipse.core.resources.IContainer">
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffContainersAction"
                icon="icons/folder_diff.png"
                id="com.perforce.team.ui.folder.diffFolders"
                label="%FolderDiff"
                menubarPath="compareWithMenu/compareWithGroup">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.perforce.team.ui.folder.folderContributions"
             objectClass="com.perforce.team.core.p4java.IP4Folder">
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffFoldersAction"
                icon="icons/folder_diff.png"
                id="com.perforce.team.ui.folder.diffFolders"
                label="%FolderDiff"
                menubarPath="perforce.group3">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.perforce.team.ui.folder.mappingPartContributions"
             objectClass="com.perforce.team.ui.mergequest.parts.MappingEditPart">
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffMappingAction"
                icon="icons/folder_diff.png"
                id="com.perforce.team.ui.folder.action1"
                label="%DiffMappingAction.label"
                menubarPath="perforce.group3">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.perforce.team.ui.folder.fileDiffContributions"
             objectClass="com.perforce.team.core.folder.IP4DiffFile">
          <action
               class="com.perforce.team.ui.p4java.actions.ViewChangelistAction"
               icon="platform:/plugin/com.perforce.team.ui/icons/perforce/submitted_editor.png"
               id="com.perforce.team.ui.folder.diff.viewChangelist"
               label="%ViewChangelistAction.label"
               menubarPath="perforce.group1">
         </action>
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffOpenAction"
                id="com.perforce.team.ui.folder.diff.openFile"
                label="%DiffOpenAction.label"
                menubarPath="perforce.group1">
          </action>
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffCompareAction"
                icon="platform:/plugin/com.perforce.team.ui/icons/normal/compare.png"
                id="com.perforce.team.ui.folder.diff.diffPair"
                label="%DiffCompareAction.label"
                menubarPath="perforce.group1">
          </action>
          <action
                class="com.perforce.team.ui.folder.diff.actions.IntegrateDiffAction"
                definitionId="com.perforce.team.ui.commands.integrate"
                icon="platform:/plugin/com.perforce.team.ui/icons/normal/integrate.png"
                id="com.perforce.team.ui.folder.diff.integrate"
                label="%IntegrateDiffAction.label"
                menubarPath="perforce.group3">
          </action>
          <action
                class="com.perforce.team.ui.p4java.actions.ShowHistoryAction"
                definitionId="com.perforce.team.ui.commands.showhistory"
                icon="platform:/plugin/com.perforce.team.ui/icons/views/history.png"
                id="com.perforce.team.ui.folder.action2"
                label="%ShowHistoryAction.label"
                menubarPath="perforce.group3">
          </action>
          <action
                class="com.perforce.team.ui.timelapse.TimeLapseAction"
                icon="platform:/plugin/com.perforce.team.ui/icons/normal/time_lapse.png"
                id="com.perforce.team.ui.folder.diff.timelapse"
                label="%TimeLapseAction.label"
                menubarPath="perforce.group5">
          </action>
          <action
                class="com.perforce.team.ui.p4v.P4VRevisionGraphAction"
                id="com.perforce.team.ui.folder.diff.revgraph"
                label="%P4VRevisionGraphAction.label"
                menubarPath="perforce.group5">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.perforce.team.ui.folder.connectionContributions"
             objectClass="com.perforce.team.core.p4java.IP4Connection">
          <action
                class="com.perforce.team.ui.folder.diff.actions.DiffClientAction"
                icon="icons/folder_diff.png"
                id="com.perforce.team.ui.folder.diffClient"
                label="%FolderDiff"
                menubarPath="perforce.group3">
          </action>
       </objectContribution>
     
     </extension>
     <extension
       point="org.eclipse.ui.editors">
	    <editor
	          class="com.perforce.team.ui.folder.timelapse.FolderTimeLapseEditor"
	          default="false"
	          icon="icons/time_lapse.png"
	          id="com.perforce.team.ui.text.timelapse.folder.FolderTimeLapseEditor"
	          name="%FolderTimeLapseEditor">
	    </editor>
     <editor
           class="com.perforce.team.ui.folder.diff.editor.FolderDiffEditor"
           default="false"
           icon="icons/folder_diff.png"
           id="com.perforce.team.ui.editors.folderdiff"
           name="%FolderDiff">
     </editor>
 	</extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="com.perforce.team.ui.folder.preferences.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="com.perforce.team.ui.dialogs.GeneralPreferencesDialog"
              class="com.perforce.team.ui.folder.preferences.FolderDiffPreferencePage"
              id="com.perforce.team.ui.folder.diffPage"
              name="%FolderDiffPreferencePage.name">
        </page>
     </extension>
     <extension
           point="org.eclipse.ui.elementFactories">
        <factory
              class="com.perforce.team.ui.folder.diff.editor.input.FolderDiffInputFactory"
              id="com.perforce.team.ui.folder.diff.editor.FolderDiffInputFactory">
        </factory>
        <factory
              class="com.perforce.team.ui.folder.diff.editor.input.BranchDiffInputFactory"
              id="com.perforce.team.ui.folder.diff.editor.BranchDiffInputFactory">
        </factory>
        <factory
              class="com.perforce.team.ui.folder.diff.editor.input.ContainerDiffInputFactory"
              id="com.perforce.team.ui.folder.diff.editor.ContainerDiffInputFactory">
        </factory>
     </extension>
</plugin>
