<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.perforce.team.ui.text.timelapse.GenericTextTimeLapseEditor"
            default="false"
            icon="icons/time_lapse.png"
            id="com.perforce.team.ui.text.timelapse.GenericTextTimeLapseEditor"
            name="%TimeLapseEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.perforce.team.ui.text.TextPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.perforce.team.ui.timelapse">
      <editor
            id="com.perforce.team.ui.text.timelapse.GenericTextTimeLapseEditor">
         <contentType
               id="org.eclipse.core.runtime.text">
         </contentType>
         <preferenceHandler
               class="com.perforce.team.ui.text.timelapse.TextPreferenceHandler">
         </preferenceHandler>
      </editor>
   </extension>
     <extension
       point="org.eclipse.ui.editors">
	     <editor
	           class="com.perforce.team.ui.text.timelapse.form.FormTimeLapseEditor"
	           default="false"
	           icon="icons/time_lapse.png"
	           id="com.perforce.team.ui.text.timelapse.form.FormTimeLapseEditor"
	           name="%FormTimeLapseEditor.name">
	     </editor>
 	</extension>
     <extension
           point="org.eclipse.ui.perspectives">
        <perspective
              class="com.perforce.team.ui.text.timelapse.perspective.TimeLapsePerspective"
              fixed="false"
              icon="icons/time_lapse.png"
              id="com.perforce.team.ui.text.timelapse.perspective"
              name="%TimeLapsePerspective.name">
        </perspective>
     </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
              targetID="com.perforce.team.ui.perforcePerspective">
           <perspectiveShortcut
                 id="com.perforce.team.ui.text.timelapse.perspective">
           </perspectiveShortcut>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.perforce.team.ui.mergequest.perspective">
           <perspectiveShortcut
                 id="com.perforce.team.ui.text.timelapse.perspective">
           </perspectiveShortcut>
        </perspectiveExtension>
     </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
              targetID="com.perforce.team.ui.text.timelapse.perspective">
           <perspectiveShortcut
                 id="com.perforce.team.ui.perforcePerspective">
           </perspectiveShortcut>
           <viewShortcut
                 id="com.perforce.team.ui.DepotView">
           </viewShortcut>
           <viewShortcut
                 id="org.eclipse.ui.navigator.ProjectExplorer">
           </viewShortcut>
           <viewShortcut
                 id="org.eclipse.ui.views.ContentOutline">
           </viewShortcut>
           <viewShortcut
                 id="com.perforce.team.ui.ShelveView">
           </viewShortcut>
           <viewShortcut
                 id="com.perforce.team.ui.SubmittedChangelistView">
           </viewShortcut>
           <viewShortcut
                 id="com.perforce.team.ui.PendingChangelistView">
           </viewShortcut>
           <viewShortcut
                 id="com.perforce.team.ui.ConsoleView">
           </viewShortcut>
        </perspectiveExtension>
     </extension>

</plugin>
