<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
    http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>release</activeProfile>
    </activeProfiles> 
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <mirrorOf>*</mirrorOf>
            <url>http://artifactory.bnr.perforce.com:8081/artifactory/release</url>
        </mirror>
    </mirrors>
    <servers>
      <server>
        <username>perforce-bnr</username>
        <password>\{DESede\}UQ8KtzJG4cM1JeYvFPvt5A==</password>
        <id>central</id>
      </server>
      <server>
        <username>perforce-bnr</username>
        <password>\{DESede\}UQ8KtzJG4cM1JeYvFPvt5A==</password>
        <id>snapshots</id>
      </server>
    </servers>
    <profiles>
        <profile>
            <id>release</id>
            <properties>
                <snapshots.url>http://artifactory.bnr.perforce.com:8081/artifactory/snapshots</snapshots.url>
                <releases.url>http://artifactory.bnr.perforce.com:8081/artifactory/releases</releases.url>
                <cert.store>${user.home}/.private/javacertstore.jks</cert.store>
                <jarsigner.keystore>${user.home}/.private/javacertstore.jks</jarsigner.keystore>
                <cert.pass>rein4ce</cert.pass>
                <jarsigner.storepass>rein4ce</jarsigner.storepass>
                <jarsigner.keypass>rein4ce</jarsigner.keypass>
                <cert.alias>javacert</cert.alias>
                <jarsigner.alias>javacert</jarsigner.alias>
            </properties>
            <repositories>
              <!-- this turns on artifactory mirror for eclipse p2 repositories.  RT 9/6/13 -->
              <repository>
                <id>eclipse-release-p2</id>
                <name>eclipse-release-p2</name>
                <layout>p2</layout>
		<url>http://artifactory.bnr.perforce.com/artifactory/eclipse-release-p2/</url>
              </repository>
              <repository>
                <snapshots>
                  <enabled>false</enabled>
                </snapshots>
                <id>central</id>
                <name>release</name>
                <url>http://artifactory.bnr.perforce.com/artifactory/release</url>
              </repository>
              <repository>
                <snapshots />
                <id>snapshots</id>
                <name>libs-snapshot</name>
                <url>http://artifactory.bnr.perforce.com/artifactory/libs-snapshot</url>
              </repository>
            </repositories>
            <pluginRepositories>
              <pluginRepository>
                <snapshots>
                  <enabled>false</enabled>
                </snapshots>
                <id>central</id>
                <name>plugins-release</name>
                <url>http://artifactory.bnr.perforce.com/artifactory/plugins-release</url>
              </pluginRepository>
              <pluginRepository>
                <snapshots />
                <id>snapshots</id>
                <name>plugins-snapshot</name>
                <url>http://artifactory.bnr.perforce.com/artifactory/plugins-snapshot</url>
              </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
