<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.perforce.team.ui.charts.annotate.AnnotateChartView"
            icon="icons/annotate_chart.png"
            id="com.perforce.team.ui.charts.AnnotateChartView"
            name="%TimeLapseChartView"
            restorable="true">
      </view>
      <view
            class="com.perforce.team.ui.charts.annotate.TimeLapseStatsView"
            icon="icons/timelapse_stats.png"
            id="com.perforce.team.ui.charts.TimeLapseStatsView"
            name="%TimeLapseStatsView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.perforce.team.ui.page">
      <page
            editorId="com.perforce.team.ui.changelists.ChangelistEditor"
            factory="com.perforce.team.ui.charts.diff.ChangelistChartPageFactory"
            id="com.perforce.team.ui.charts.diff">
      </page>
      <page
            editorId="com.perforce.team.ui.editors.folderdiff"
            factory="com.perforce.team.ui.charts.diff.Diff2AuthorChartPageFactory"
            id="com.perforce.team.ui.charts.diff2.author">
      </page>
      <page
            editorId="com.perforce.team.ui.editors.folderdiff"
            factory="com.perforce.team.ui.charts.diff.Diff2ContentTypeChartPageFactory"
            id="com.perforce.team.ui.charts.diff2.contentType">
      </page>
      <page
            editorId="com.perforce.team.ui.editors.folderdiff"
            factory="com.perforce.team.ui.charts.diff.Diff2ProjectChartPageFactory"
            id="com.perforce.team.ui.charts.diff2.project">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.perforce.team.ui.text.timelapse.perspective">
         <viewShortcut
               id="com.perforce.team.ui.charts.AnnotateChartView">
         </viewShortcut>
         <viewShortcut
               id="com.perforce.team.ui.charts.TimeLapseStatsView">
         </viewShortcut>
         <view
               closeable="true"
               id="com.perforce.team.ui.charts.AnnotateChartView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.team.ui.GenericHistoryView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.perforce.team.ui.charts.TimeLapseStatsView"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="bottom"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.perforce.team.ui.charts.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
